:root {
    --clr-green-light: 157, 36%, 37%;
    --clr-green-dark: 158, 42%, 18%;
    --cream-bg: 28, 38%, 92%;
    --Aurometal-Saurus: 228, 12%, 48%;
    --Gunmetal: 212, 21%, 14%;
    --Pure-White: 0 0% 100%;
}

/* Box sizing rules */
*,
*::before, 
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  margin: 200px auto;
  background: hsl(var(--cream-bg));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.product-container {
    display: flex;
    max-width: 600px;
    height: 450px;
    margin: auto;
    justify-content: center;
    align-items: center;
 
    border-radius: 10px;
    background: hsl(var(--Pure-White));
    
    @media screen and (max-width: 760px) {
        flex-direction: column;
        width: 343px;
        height: 611px;
    }

    .product-image {
        width: 340.694px;
        height: 450px;

        @media screen and (min-width: 760px){
        width: 337.694px;
            
        }

        img {
            width: 100%;

            @media screen and (min-width: 760px){
            height: 100%;
            width: unset;
            }
        }
      
        .img-desktop {
            display: none;
        }

        @media screen and (min-width: 760px){
            .img-mobile{
                display:none;
            }

            .img-desktop {
                display: block;
            }

        
        }
    }

    .product-content {
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 20px 30px;

        @media screen  and (min-width:  760px) {
            padding: 10px 30px;
        }

        .product {
            color: hsl(var(--Aurometal-Saurus));
            font-feature-settings: 'clig' off, 'liga' off;

            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 5px;
        }

        .product-title {
            color: hsl(var(--Gunmetal));
            font-feature-settings: 'clig' off, 'liga' off;
            width: 295px;
           

            /* Display */
            font-family: Fraunces;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; 

            @media screen  and (min-width:  760px) {
                width: 236px;
            }
        }
        
        .product-description {
            color: hsl(var(--Aurometal-Saurus));
            font-feature-settings: 'clig' off, 'liga' off;

            /* Body */
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 23px; /* 164.286% */
        }

        .product-price {
            color: hsl(var(--clr-green-light));
            font-feature-settings: 'clig' off, 'liga' off;

            /* Display */
            font-family: Fraunces;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px; /* 100% */

            display: flex;
            align-items: flex-start;
            gap: 10px;

            span {
                color: hsl(var(--Aurometal-Saurus))!important;
                font-family: Montserrat;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 23px;
                text-decoration: line-through;
            }
        }

        .btn {
            width: 295px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            border-radius: 8px;
            background:  hsl( var(--clr-green-light));

            @media screen  and (min-width:  760px) {
                width: 236px;
            }

            p {
                color: hsl(var(--Pure-White));
                font-feature-settings: 'clig' off, 'liga' off;
                
                /* Button Text */
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &:active,
            &:hover {
                background-color:  hsl( var(--clr-green-dark));
            }
        }

    }
}